@{
    ViewData["Title"] = "AI Generated Goal";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h4 class="text-warning">No Data Found</h4>
<p>@ViewBag.Message</p>
<a href="@Url.Action("Questionnaire", "Dashboard")" class="btn btn-warning">Add Health Score</a>
