
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-controller="AdminDashboard" asp-action="Logout" class="dropdown-item">
    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
    Logout
</a>
@* <li>
    <form id="logoutForm" asp-controller="Home" asp-action="Logout" method="post" class="form-inline">
        <button type="submit" class="dropdown-item">Logout</button>
    </form>
</li> *@

