@{
    ViewData["Title"] = "Password Reset Confirmation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-md-6 d-flex align-items-center py-5">
    <div class="container my-auto py-4 shadow-lg bg-white">
        <div class="row">
            <div class="col-11 col-lg-10 mx-auto text-center">
                <h3 class="text-9 fw-600 text-success mb-3">Password Successfully Reset</h3>
                <p class="text-muted mb-4">
                    Thank you! Your password has been updated successfully. You can now log in using your new credentials.
                </p>

                <a href="@Url.Action("Login", "Account")" class="btn btn-success rounded-0 px-4">
                    Back to Login
                </a>
            </div>
        </div>
    </div>
</div>
